
.row {
    background-color: red;
    height: 50vh;

    .card {
        background-color: yellow;
        height: 50vh;

        .imagen{
            height: 200px;
            width: 200px;
            object-fit: cover;
        }
    }
}        

