.row {
    background-color: red;


    .card {
        background-color: yellow;
        height: 95%;
        margin: 5%;

        .card-header {
            h1 {
                font-size: 20px;
                font-weight: bold;
            }

            background-color: blue;
            height: 70%;

            .imagen {
                object-fit: scale-down;
                height: 70%;
                width: 80%;
            }
        }

    }
}