<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Información de Contacto</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Dirección de la empresa</li>
                    <li><i class="fas fa-phone"></i> Teléfono de la empresa</li>
                    <li><i class="fas fa-envelope"></i> Correo electrónico de la empresa</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Enlaces Importantes</h4>
                <ul>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Política de Privacidad</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Síguenos</h4>
                <ul class="social-media">
                    <li><a href="https://es-la.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-x-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>