<div class="row m-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header text-center">
                <p class="texto"><strong>INICIAR SESION</strong></p>
            </div>
            <div class="card-body">
                <form>
                    <div class="usuario">
                      <label class="form-label">Usuario</label>
                      <input type="text" class="form-control" id="Usuario" required>
                    </div>
                    <div class="contrasenia">
                      <label class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="Contrasena" required>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="iniciar()">Iniciar sesion</button>
                    <a class="text-center" routerLink="./agregar"><p class="texto">Crear cuenta</p></a>
                  </form>
            </div>
        </div>
    </div>
</div>