<img src="../../../assets/logo.png" alt="">
<section>
    <div class="mision">
        <h1>Misión</h1>
        <p>
            Ser el principal destino para productos y servicios de papelería de alta calidad, brindando una experiencia
            de compra excepcional y personalizada para nuestros clientes. Estamos comprometidos a fomentar una cultura
            de innovación, sostenibilidad y responsabilidad social, manteniendo al mismo tiempo los más altos estándares
            de calidad y satisfacción del cliente. Nos esforzamos por inspirar la creatividad, mejorar la productividad
            y enriquecer la vida de nuestros clientes a través del poder del material de oficina.
        </p>
    </div>
</section>
<section>
    <div class="vision">
        <h1>Visión</h1>
        <p>
            En un mundo donde la tecnología y la innovación están transformando la forma en que vivimos y trabajamos,
            <strong>Papelería Yoly</strong> será la papelería líder en Colombia, reconocida por su calidad, servicio y compromiso
            con el medio ambiente.
            <br>
            Papelería Yoly será la primera opción para los clientes que buscan productos y servicios de
            papelería
            de la más alta calidad, a precios competitivos. La empresa contará con una amplia gama de productos,
            incluidos
            artículos de papelería, suministros de oficina, equipos de oficina y productos personalizados.
        </p>
    </div>
</section>
<section>
    <div class="objetivos">
        <h1>Objetivos financieros:</h1>
        <ul>
            <li>Aumentar las ventas en un 25% en los próximos cinco años. </li>
            <li>Lograr un margen de beneficio del 15% en los próximos tres años.</li>
            <li>Reducir los costes operativos en un 10% en los próximos dos años.</li>
        </ul>
        <h1>Objetivos de marketing:</h1>
        <ul>
            <li>Aumentar el conocimiento de la marca en un 20% en los próximos dos años.</li>
            <li>Alcanzar una cuota de mercado del 10% en los próximos cinco años.</li>
            <li>Desarrollar un programa de marketing digital eficaz.</li>
        </ul>
        <h1>Objetivos de servicio al cliente:</h1>
        <ul>
            <li>Mejorar la satisfacción del cliente en un 10% en los próximos dos años.</li>
            <li>Reducir el número de quejas de los clientes en un 50% en los próximos tres años.</li>
            <li>Implementar un programa de fidelización de clientes.</li>
        </ul>
        <h1>Objetivos de innovación:</h1>
        <ul>
            <li>Desarrollar nuevos productos y servicios que satisfagan las necesidades de los clientes.</li>
            <li>Invertir en investigación y desarrollo para mantenerse a la vanguardia de la industria.</li>
        </ul>
        <h1>Objetivos de sostenibilidad:</h1>
        <ul>
            <li>Utilizar materiales sostenibles en la fabricación de productos y servicios.</li>
            <li>Reducir el impacto ambiental de la empresa.</li>
        </ul>
    </div>
</section>