.texto{
    margin: 8px;
}

.btn{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.form-crear{
    margin-bottom: 16px;
}

.ng-valid:not(form).ng-touched{
    border: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched{
    border: 5px solid #A94442;
}