<div class="row m-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header text-center">
                <p class="texto"><strong>CREAR CUENTA</strong></p>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-crear">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.nombre">
                    </div>
                    <div class="form-crear">
                        <label class="form-label">Correo</label>
                        <input type="email" class="form-control" name="correo" [(ngModel)]="usuario.correo">
                    </div>
                    <div class="form-crear">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" name="telefono" [(ngModel)]="usuario.telefono">
                    </div>
                    <div class="form-crear">
                        <label class="form-label">Usuario</label>
                        <input type="text" class="form-control" name="usuario" [(ngModel)]="usuario.usuario">
                    </div>
                    <div class="form-crear">
                        <label class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="contrasena" [(ngModel)]="usuario.contrasena">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="guardarUsuario()">Crear Cuenta</button>
                </form>
            </div>
        </div>
    </div>
</div>